.jumbotron{
    background-color:lightgrey;
    padding:20px;
}

body{
    background-image:linear-gradient(120deg,pink,blue);
    background-size:cover;
    background-repeat:no-repeat;
    background-color:lightblue
}